<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Twilirious</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application', 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="content">
		<%= content_tag :p, notice, :class => 'notice' if notice.present? %>
		<%= content_tag :p, alert, :class => 'alert' if alert.present? %>
		<%= yield %>
	</div>	
</body>
</html>
